
<link rel="stylesheet" href="~/css/atividades.css">


<div class="timeline">
    <ul>
        <li>
            <div class="sobre">
                <b></b>
                <h3>Introdução dos sinais</h3>
                <b>
                    <p style="color: white;">
                        LIBRAS é toda a forma de comunicação e expressão, em que o sistema
                        linguístico é de natureza visual-motora, com estrutura gramatical própria. Ela é importante pois
                        proporciona uma melhor compreensão entre surdos e ouvintes, uma vez que tem como objetivo alcançar uma
                    </p>
                </b>

            </div>
            <div class="time-intro">
                <h4 class="cor">Introdução</h4>
            </div>
        </li>
        <li>
            <div class="sobre">
                <h3>Gramática dos sinais</h3>
                <b>
                    <p style="color: white;">
                        Demos continuidade à ideia do projeto anterior, aperfeiçoando somente aquilo que era necessário. Para isso,
                        alteramos nossos produtos e os organizamos de maneira mais profissional, trazendo veracidade e originalidade ao nosso site.
                    </p>
                </b>
            </div>
            <div class="time-gramatica">
                <h4 style="color: white;">Gramática</h4>
            </div>
        </li>
        <li>
            <div class="sobre">
                <h3>Alfabeto dos sinais</h3>
                <b>
                    <p style="color: white;">
                        Os produtos foram selecionados de maneira muito mais rigorosa e organizada, trazendo um padrão à nossa franquia e alcançando
                        um maior nível de profissionalismo.
                    </p>
                </b>
            </div>
            <div class="time-alfabeto">
                <h4 style="color: white;">Alfabeto</h4>
            </div>
        </li>
        <li>
            <div class="sobre">
                <h3>Números em sinais</h3>
                <b>
                    <p style="color: white;">
                        O projeto foi dividido entre as finalidades de cada integrante,
                        onde Vitória ficou resposansavel por PWFE, Larissa se responsabilizou pelo BCD, enquanto Raissa e Ana Julia ficaram com INDMO e PWBE.
                    </p>
                </b>
            </div>
            <div class="time-numeros">
                <h4 style="color: white;">Números</h4>
            </div>
        </li>
    </ul>
</div>

<script src="~/js/site.js"></script>