@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/equipe.css">


<!-- Início SOBRE O PROJETO -->
<div class="centro">
    <img class="img_integrantes" src="~/img/txtIntegrantes.png">
</div>
<!--Fim da imagem-->
<!--Começo dos cards-->
<div class="cem">


    <div class="colunaa">
        <div class="container">
            <div class="cards">
                <div class="imgCard">
                    <img class="imgEquipe" src="~/img/nonato.png" alt="">
                </div>
                <div class="txtIntegrante">
                    <h2 class="nomeCard">Felipe Nonato</h2>
                    <p class="descricaoIntegrante">
                        Olá! Me chamo Felipe, tenho 17 anos e o desenvolvimento desse projeto
                        para a minha vida foi sensacional. Gosto de pensar que pude contribuir em um projeto de
                        integração social e reestruturação educacional, incluindo aqueles que até então ficavam
                        às margens da sociedade.

                    </p>
                    <br>
                    <div class="centro">
                        <a class="botaoConheca" href="https://www.instagram.com/felipeng13/">Conheça</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="colunaa">
        <div class="container">
            <div class="cards">
                <div class="imgCard">
                    <img class="imgEquipe" src="~/img/leticia.png" alt="">
                </div>
                <div class="txtIntegrante">
                    <h2 class="nomeCard">Leticia Capovila</h2>
                    <p class="descricaoIntegrante">
                        Olá! Sou a Letícia, tenho 17 anos e minhas afinidades neste projetos estão principalmente no
                        front e na documentação. A temática inclusiva sempre me chamou a atenção, então trabalhar
                        com esta equipe em prol da educação foi muito gratificante.
                    </p>
                    <br>
                    <div class="centro">
                        <a class="botaoConheca" href="https://www.instagram.com/leticia_capovila/">Conheça</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="colunaa">
        <div class="container">
            <div class="cards">
                <div class="imgCard">
                    <img class="imgEquipe" src="~/img/lucas.png" alt="">
                </div>
                <div class="txtIntegrante">
                    <h2 class="nomeCard">Lucas Calegari</h2>
                    <p class="descricaoIntegrante">
                        Olá! Eu sou o Lucas, tenho 17 anos e gosto bastante da ideia
                        colaborar
                        com a inclusão das pessoas com deficiência auditiva na sociedade através do ensino de
                        libras, então
                        fazer parte desse projeto, junto desta equipe me deixou bastante empolgado.

                    </p>
                    <br>
                    <div class="centro">
                        <a class="botaoConheca" href="https://www.instagram.com/lucascalegari9/">Conheça</a>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="colunaa">
        <div class="container">
            <div class="cards">
                <div class="imgCard">
                    <img class="imgEquipe" src="~/img/vitoria.png" alt="">
                </div>
                <div class="txtIntegrante">
                    <h2 class="nomeCard">Vitória Queiroz</h2>
                    <p class="descricaoIntegrante">
                        Olá! Me chamo Vitória, tenho 17 anos e poder contribuir com esse
                        projeto foi extramamente
                        importante para minha evolução pessoal e profissional. É gratificante observar que uma ideia
                        tão linda se tornou algo essencial
                        para reestruturar a sociedade brasileira e como a enxergamos hoje.
                        <br>
                        <div class="centro">
                            <a class="botaoConheca" href="https://www.instagram.com/vitoria_de_queiroz/">Conheça</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

